/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Jost", sans-serif;
	font-size: 16px;
	line-height: 1.625rem;
	color: #333136;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.25rem;
}
